<h2>{{titulo}}</h2>

<p>Añadir marca</p>
<p>
    <input type="text" [(ngModel)]="mi_marca" (keyup.enter)="mostrarPalabra()"/>
    <button (click)="getMarca()">Mostrar marca</button>
    <button (click)="addMarca()">Añadir marca</button>
</p>
<p>{{mi_marca}}</p>

<p>Compra las zapatillas de las mejores marcas</p>
<ul>
    <li *ngFor="let marca of marcas; let indice = index">{{indice + ' ' + marca}}
        <button (click)="borrarMarca(indice)">Borrar</button>
    </li>
</ul>
<p>Las zapatillas que tenemos disponibles son:</p>
<ul>

    <li *ngFor="let tenis of zapatillas">
        
        <span [ngStyle]="{'text-decoration': !tenis.stock ? 'line-through' : 'none'}">
            {{tenis.nombre}} - 
            <strong 
                [class.altoPrecio]="tenis.precio >= 80"
                [ngClass]="{
                    'fondoRojo': tenis.precio > 100,
                    'subrayado': tenis.marca == 'Nike'
                }"
            >{{tenis.precio}}</strong></span>


        <span *ngIf="tenis.precio < 80"
            [style.background]="(tenis.precio < 80) ? 'green' : 'transparent'"
            [style.color]="(tenis.precio < 80) ? 'white' : 'black'"            
            > ¡En oferta!</span>

    </li>

</ul>

<p>El color de la mayoría de nuestras zapatillas es: </p>
<input type="text" [(ngModel)]="color"/>
<ul [ngSwitch]="color">
    <li *ngSwitchCase="'yellow'">
        El color predominante es el <span [ngStyle]="{
            'background':color}">amarillo</span>
    </li>
    <li *ngSwitchCase="'red'">
        El color predominante es el <span [ngStyle]="{
            'background':color}">rojo</span>
    </li>
    <li *ngSwitchCase="'blue'">
        El color predominante es el <span style="background: blue;">azul</span>
    </li>
    <li *ngSwitchCase="'orange'">
        El color predominante es el <span style="background: orange;">naranja</span>
    </li>
</ul>